First import required packages

In [4]:
# install pip -> open a terminal and type 'sudo apt install python3-pip'
# install hv plot -> in the terminal type 'pip install hvplot'

#pip install pandas

import pandas as pd
import requests
import subprocess as sp
import numpy as np
import panel as pn
pn.extension('tabulator')

import hvplot.pandas

#pip install ipykernel
#pip install pandas
#pip install jupyter_bokeh
#pip install nbconvert
#https://panel.holoviz.org/api/panel.widgets.html

ModuleNotFoundError: No module named 'pandas'

Next get data from ONS
Get link from: https://www.ons.gov.uk/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/deathsregisteredinenglandandwalesseriesdrreferencetables
xls = pd.ExcelFile('https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/deathsregisteredinenglandandwalesseriesdrreferencetables/2022/dr2022corrected.xlsx')

The url doesn't accept "non-browser" requests. The default header of Python requests is 'User-Agent': 'python-requests/2.13.0', need to pass different headers as an argument
https://stackoverflow.com/questions/59297759/python-requests-module-to-download-an-excel-file-from-a-download-link-which-po

In [40]:
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.76 Safari/537.36'}
response = requests.get('https://www.ons.gov.uk/file?uri=/peoplepopulationandcommunity/birthsdeathsandmarriages/deaths/datasets/deathsregisteredinenglandandwalesseriesdrreferencetables/2022/dr2022corrected.xlsx', headers=headers, verify=False)
with open("DeathsData.xlsx", 'wb') as f:
    f.write(response.content)

# Bring in a tab of the xlsx as a data frame
dfpub = pd.read_excel('DeathsData.xlsx', sheet_name='2a', skiprows=4)
print(dfpub)

c:\ProgramData\miniforge3\lib\site-packages\urllib3\connectionpool.py:1099: InsecureRequestWarning: Unverified HTTPS request is being made to host 'www.ons.gov.uk'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

     Area code                    Area of usual residence     Geography level  \
0    K04000001               ENGLAND, WALES AND ELSEWHERE             Country
1    E92000001                                    ENGLAND             Country
2    E12000001                                 NORTH EAST              Region
3    E06000047                              County Durham   Unitary Authority
4    E06000005                                 Darlington   Unitary Authority
..         ...                                        ...                 ...
377  W11000030  Cwm Taf Morgannwg University Health Board  Local Health Board
378  W11000025          Hywel Dda University Health Board  Local Health Board
379  W11000024                Powys Teaching Health Board  Local Health Board
380  W11000031        Swansea Bay University Health Board  Local Health Board
381  J99000001  Usual residence outside England and Wales                 [z]

     Persons\n(Deaths) Persons\n(ASMR) Persons\n(Lower CL)  \
0               577160           978.6               976.1
1               540333           971.9               969.3
2                30168          1093.4                1081
3                 6218          1122.2              1094.1
4                 1273            1105              1044.1
..                 ...             ...                 ...
377               4793          1085.9                1055
378               5016          1041.8              1012.7
379               1717             926               881.5
380               4496          1104.1              1071.7
381               1133             [x]                 [x]

    Persons\n(Upper CL)  Males\n(Deaths) Males\n(ASMR) Males\n(Lower CL)  \
0                 981.2           292064        1150.5            1146.3
1                 974.5           273579        1144.1            1139.7
2                1105.8            15309        1285.9              1265
3                1150.4             3129        1299.7            1252.5
4                1165.9              658        1311.7            1209.9
..                  ...              ...           ...               ...
377              1116.9             2372          1214            1163.8
378                1071             2497        1194.3            1146.3
379               970.4              880        1097.5            1022.7
380              1136.5             2251        1287.1            1233.1
381                 [x]              639           [x]               [x]

    Males\n(Upper CL)  Females\n(Deaths) Females\n(ASMR) Females\n(Lower CL)  \
0              1154.8             285096           839.9               836.8
1              1148.4             266754           833.2                 830
2              1306.8              14859           942.3               927.1
3              1346.8               3089           987.7               952.7
4              1413.5                615           937.3               862.7
..                ...                ...             ...                 ...
377            1264.2               2421           973.5               934.6
378            1242.4               2519           916.4               880.2
379            1172.2                837           784.3               730.1
380            1341.2               2245           954.7               914.9
381               [x]                494             [x]                 [x]

    Females\n(Upper CL)
0                   843
1                 836.3
2                 957.6
3                1022.7
4                1011.9
..                  ...
377              1012.4
378               952.6
379               838.6
380               994.6
381                 [x]

[382 rows x 15 columns]

Next get data from the Lake - note this will only work if you are on the network and have read access to the table and views in the query. Changes to the query can be performed by editing 'GetLakeDeaths.SQL'. Specify the path to your batch file and run the batch file using subprocess.

In [19]:
import subprocess as sp
batch_file_path = 'GetLakeDeaths.bat'
sp.call([batch_file_path])

0

Read in the Lake data

In [35]:
# Read the text file into a DataFrame
dflake = pd.read_csv('outputfile.txt', sep='\s+')

# Display the DataFrame
print(dflake)

       Dashboard  Period                                            GeoCode  \
0    -----------  ------  ----------------------------------------------...
1              1    2018                                                NaN
2              1    2018                                                NaN
3              1    2018                                                NaN
4              1    2018                                                NaN
..           ...     ...                                                ...
572            4    2017                                                NaN
573            4    2017                                                NaN
574            4    2018                                                NaN
575            4    2018                                                NaN
576         (575    rows                                          affected)

                                               GeoName  \
0    ----------------------------------------------...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
572                                                NaN
573                                                NaN
574                                                NaN
575                                                NaN
576                                                NaN

                                          VariableType  \
0    ----------------------------------------------...
1                                               AgeSex
2                                               AgeSex
3                                               AgeSex
4                                               AgeSex
..                                                 ...
572                                              TREND
573                                              TREND
574                                              TREND
575                                              TREND
576                                                NaN

                                             VariableA  \
0    ----------------------------------------------...
1                                                    0
2                                                    0
3                                                    1
4                                                    1
..                                                 ...
572                                                  1
573                                                  2
574                                                  1
575                                                  2
576                                                NaN

                                             VariableB  \
0    ----------------------------------------------...
1                                                    1
2                                                    2
3                                                    1
4                                                    2
..                                                 ...
572                                                NaN
573                                                NaN
574                                                NaN
575                                                NaN
576                                                NaN

                        Value
0    ------------------------
1                      1440.0
2                      1131.0
3                        91.0
4                        81.0
..                        ...
572                  262678.0
573                  270575.0
574                  267960.0
575                  273629.0
576                       NaN

[577 rows x 8 columns]

Join the datasets together

In [41]:
# Merge the two dataframes
result = pd.merge(dflake, dfpub, left_on='GeoCode', right_on='Area code', how='left')

print(result)

       Dashboard  Period                                            GeoCode  \
0    -----------  ------  ----------------------------------------------...
1              1    2018                                                NaN
2              1    2018                                                NaN
3              1    2018                                                NaN
4              1    2018                                                NaN
..           ...     ...                                                ...
572            4    2017                                                NaN
573            4    2017                                                NaN
574            4    2018                                                NaN
575            4    2018                                                NaN
576         (575    rows                                          affected)

                                               GeoName  \
0    ----------------------------------------------...
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
572                                                NaN
573                                                NaN
574                                                NaN
575                                                NaN
576                                                NaN

                                          VariableType  \
0    ----------------------------------------------...
1                                               AgeSex
2                                               AgeSex
3                                               AgeSex
4                                               AgeSex
..                                                 ...
572                                              TREND
573                                              TREND
574                                              TREND
575                                              TREND
576                                                NaN

                                             VariableA  \
0    ----------------------------------------------...
1                                                    0
2                                                    0
3                                                    1
4                                                    1
..                                                 ...
572                                                  1
573                                                  2
574                                                  1
575                                                  2
576                                                NaN

                                             VariableB  \
0    ----------------------------------------------...
1                                                    1
2                                                    2
3                                                    1
4                                                    2
..                                                 ...
572                                                NaN
573                                                NaN
574                                                NaN
575                                                NaN
576                                                NaN

                        Value Area code Area of usual residence  ...  \
0    ------------------------       NaN                     NaN  ...
1                      1440.0       NaN                     NaN  ...
2                      1131.0       NaN                     NaN  ...
3                        91.0       NaN                     NaN  ...
4                        81.0       NaN                     NaN  ...
..                        ...       ...                     ...  ...
572                  262678.0       NaN                     NaN  ...
573                  270575.0       NaN                     NaN  ...
574                  267960.0       NaN                     NaN  ...
575                  273629.0       NaN                     NaN  ...
576                       NaN       NaN                     NaN  ...

    Persons\n(Lower CL)  Persons\n(Upper CL) Males\n(Deaths) Males\n(ASMR)  \
0                   NaN                  NaN             NaN           NaN
1                   NaN                  NaN             NaN           NaN
2                   NaN                  NaN             NaN           NaN
3                   NaN                  NaN             NaN           NaN
4                   NaN                  NaN             NaN           NaN
..                  ...                  ...             ...           ...
572                 NaN                  NaN             NaN           NaN
573                 NaN                  NaN             NaN           NaN
574                 NaN                  NaN             NaN           NaN
575                 NaN                  NaN             NaN           NaN
576                 NaN                  NaN             NaN           NaN

    Males\n(Lower CL)  Males\n(Upper CL) Females\n(Deaths) Females\n(ASMR)  \
0                 NaN                NaN               NaN             NaN
1                 NaN                NaN               NaN             NaN
2                 NaN                NaN               NaN             NaN
3                 NaN                NaN               NaN             NaN
4                 NaN                NaN               NaN             NaN
..                ...                ...               ...             ...
572               NaN                NaN               NaN             NaN
573               NaN                NaN               NaN             NaN
574               NaN                NaN               NaN             NaN
575               NaN                NaN               NaN             NaN
576               NaN                NaN               NaN             NaN

    Females\n(Lower CL)  Females\n(Upper CL)
0                   NaN                  NaN
1                   NaN                  NaN
2                   NaN                  NaN
3                   NaN                  NaN
4                   NaN                  NaN
..                  ...                  ...
572                 NaN                  NaN
573                 NaN                  NaN
574                 NaN                  NaN
575                 NaN                  NaN
576                 NaN                  NaN

[577 rows x 23 columns]

In [42]:
variables = result.columns.tolist()

print(variables)

['Dashboard', 'Period', 'GeoCode', 'GeoName', 'VariableType', 'VariableA', 'VariableB', 'Value', 'Area code', 'Area of usual residence', 'Geography level', 'Persons\n(Deaths)', 'Persons\n(ASMR)', 'Persons\n(Lower CL)', 'Persons\n(Upper CL)', 'Males\n(Deaths)', 'Males\n(ASMR)', 'Males\n(Lower CL)', 'Males\n(Upper CL)', 'Females\n(Deaths)', 'Females\n(ASMR)', 'Females\n(Lower CL)', 'Females\n(Upper CL)']

In [50]:
# Create a sample DataFrame
data = {'A': [1, 2, 3, 4, 5], 'B': ['a', 'b', 'c', 'd', 'e']}
df = pd.DataFrame(result)

# Apply a filter to select rows where values in column 'A' are greater than 2
filtered_df = df[df['Dashboard'] == '3']

# Print the filtered DataFrame
print(filtered_df)

    Dashboard Period    GeoCode GeoName VariableType VariableA VariableB  \
247         3   2018        NaN     NaN           LA       NaN       NaN
248         3   2018  E06000001     NaN           LA       NaN       NaN
249         3   2018  E06000002     NaN           LA       NaN       NaN
250         3   2018  E06000003     NaN           LA       NaN       NaN
251         3   2018  E06000004     NaN           LA       NaN       NaN
..        ...    ...        ...     ...          ...       ...       ...
557         3   2018  E09000029     NaN           LA       NaN       NaN
558         3   2018  E09000030     NaN           LA       NaN       NaN
559         3   2018  E09000031     NaN           LA       NaN       NaN
560         3   2018  E09000032     NaN           LA       NaN       NaN
561         3   2018  E09000033     NaN           LA       NaN       NaN

       Value  Area code Area of usual residence  ... Persons\n(Lower CL)  \
247  35730.0        NaN                     NaN  ...                 NaN
248   1014.0  E06000001              Hartlepool  ...              1062.9
249   1454.0  E06000002           Middlesbrough  ...              1149.9
250   1594.0  E06000003    Redcar and Cleveland  ...              1042.2
251   1972.0  E06000004        Stockton-on-Tees  ...              1023.9
..       ...        ...                     ...  ...                 ...
557   1586.0  E09000029                  Sutton  ...               827.9
558   1132.0  E09000030           Tower Hamlets  ...              1025.9
559   1419.0  E09000031          Waltham Forest  ...               899.8
560   1465.0  E09000032              Wandsworth  ...               803.8
561   1075.0  E09000033             Westminster  ...               705.8

     Persons\n(Upper CL) Males\n(Deaths) Males\n(ASMR) Males\n(Lower CL)  \
247                  NaN             NaN           NaN               NaN
248               1199.8           504.0        1234.8            1123.5
249               1271.6           798.0        1459.1            1355.5
250               1146.1           878.0        1254.5            1169.5
251               1117.4          1021.0        1230.5            1153.1
..                   ...             ...           ...               ...
557                  915           770.0        1080.8            1002.9
558               1160.8           630.0        1341.9            1225.9
559                997.6           803.0        1124.8              1043
560                890.5           742.0        1002.2               927
561                798.1           580.0           939             860.1

     Males\n(Upper CL) Females\n(Deaths) Females\n(ASMR) Females\n(Lower CL)  \
247                NaN               NaN             NaN                 NaN
248               1346             560.0          1044.1               957.1
249             1562.7             737.0          1015.7                 942
250             1339.6             860.0           961.3               896.5
251             1307.9            1016.0             946               887.7
..                 ...               ...             ...                 ...
557             1158.8             778.0           728.5               676.8
558             1457.9             510.0           895.8               815.4
559             1206.6             726.0           806.8               747.2
560             1077.4             772.0           734.1               681.6
561             1017.9             470.0           603.8               548.8

     Females\n(Upper CL)
247                  NaN
248               1131.1
249               1089.3
250               1026.2
251               1004.3
..                   ...
557                780.2
558                976.2
559                866.4
560                786.5
561                658.9

[315 rows x 23 columns]

In [53]:
print(filtered_df[['GeoCode', 'Value', 'Persons\n(Deaths)']])

       GeoCode    Value  Persons\n(Deaths)
247        NaN  35730.0                NaN
248  E06000001   1014.0             1064.0
249  E06000002   1454.0             1535.0
250  E06000003   1594.0             1738.0
251  E06000004   1972.0             2037.0
..         ...      ...                ...
557  E09000029   1586.0             1548.0
558  E09000030   1132.0             1140.0
559  E09000031   1419.0             1529.0
560  E09000032   1465.0             1514.0
561  E09000033   1075.0             1050.0

[315 rows x 3 columns]